In [12]:
import os
import cv2
import numpy as np

In [13]:
images = []
labels = []
label = 0
name=[]

parent_folder = os.listdir("birds")

for f in parent_folder:
    sub_folder=os.listdir("birds/"+f)
    name.append(f)
    for image in sub_folder:
        
        theImage=cv2.imread("birds/"+f+"/"+image)
        images.append(theImage)
        labels.append(label)
    label=label+1

In [14]:
data=[]
for i in range(len(images)):
    data.append([images[i], labels[i], 0])

In [15]:
import numpy as np
data=np.array(data)
images=np.array(images)
labels=np.array(labels)
name=np.array(name)
np.save("np_arrays/images_and_labels.npy", data)
np.save("np_arrays/images.npy", images)
np.save("np_arrays/labels.npy", labels)
np.save("np_arrays//name.npy", name)

/tmp/ipykernel_15253/4033938161.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  data=np.array(data)
/tmp/ipykernel_15253/4033938161.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  images=np.array(images)

In [16]:
# d=np.load("./labels.npy", allow_pickle=True)

In [6]:
# np.unique(d, return_counts=True)

NameError: name 'd' is not defined

In [17]:
import pandas as pd

In [18]:
pd_data=pd.DataFrame(data, columns=["Image", "Label", "Image_Quality"])

In [19]:
pd_data.head()

                                               Image Label Image_Quality
0  [[[197, 206, 210], [199, 208, 212], [204, 213,...     0             0
1  [[[35, 95, 64], [35, 95, 64], [38, 95, 64], [3...     0             0
2  [[[14, 24, 18], [6, 16, 10], [2, 9, 4], [0, 7,...     0             0
3  [[[137, 137, 131], [138, 138, 132], [141, 138,...     0             0
4  [[[232, 230, 219], [232, 230, 219], [232, 230,...     0             0